.input-group {
  // max-width: 600px;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 15px;

  .input-group-label {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.68px;
    margin: auto 0;
  }
}
