@use "../../../styles/colors.scss" as c;

.auth-card {
  max-width: calc(470px + 40px);
  padding: 0 20px;
  width: 100%;
  box-shadow: 15px 0px 60px 0px rgba(0, 0, 0, 0.02);

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    background-color: c.$color-primary;
  }
  .body {
    background-color: c.$color-white;
    padding: 40px 54px 33px 54px;

    h3 {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 29.26px;
      text-align: center;
      margin-bottom: 30px;
    }
    .inputs {
      margin-bottom: 19px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .actions {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 31px;

      a {
        text-align: center;
        color: c.$color-primary;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
      }
    }
    .separator {
      // height: 1px;
      border-bottom: 1px dashed c.$color-muted;
      margin-bottom: 30px;
    }
  }
}
