.textArea {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  color: #26333d;
  padding: 18px 15px;
  border: 1px solid #a8b7c7;
  resize: none;
  outline: none;
  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #26333d;
  }
}
.textAreaAdmin {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  color: #26333d;
  padding: 12px 15px;
  border: 1px solid #26333d;
  cursor: pointer;
  resize: none;
  outline: none;
  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #26333d;
  }
}
.relative {
  position: relative;
}
.length {
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-size: 10px;
  font-weight: 400;
  &Red {
    color: #f17777;
  }
}
// @media screen and (max-width: 1200px) {
// 	.textArea {
// 		padding: 9px 14px;
// 	}
// }

// @media screen and (max-width: 1024px) {
// 	.textArea {
// 		padding: 8px 13px;
// 	}
// }

// @media screen and (max-width: 768px) {
// 	.textArea {
// 		padding: 7px 12px;
// 	}
// }

// @media screen and (max-width: 645px) {
// 	.textArea {
// 		padding: 6px 11px;
// 		font-size: 13px;
// 	}
// }

// @media screen and (max-width: 576px) {
// 	.textArea {
// 		padding: 5px 10px;
// 	}
// }

// @media screen and (max-width: 425px) {
// }
