$color-background: rgba(243, 246, 249, 1);
$color-white: rgba(255, 255, 255, 1);
$color-primary: rgba(21, 108, 189, 1);
$color-text: rgba(38, 51, 61, 1);
$color-accent: rgba(168, 183, 199, 1);
$color-highlight: rgba(248, 195, 93, 1);
$color-muted: rgba(191, 196, 200, 1);
$color-success: rgba(88, 208, 114, 1);
$color-danger: rgba(190, 70, 70, 1);
