.input {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  color: #26333d;
  padding: 18px 15px;
  outline: none;
  flex-grow: 1;
  // cursor: pointer;
  border: 1px solid #a8b7c7;
  &Border {
    border: 1px solid #a8b7c7;
  }
  &BorderFocus {
    border: 1px solid #156cbd !important;
  }

  &Error {
    border-color: #e98686;
  }

  &Group {
    position: relative;
    svg {
      // right: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) !important;
    }

    &Left {
      svg {
        left: 15px;
      }
    }
    &Right {
      svg {
        right: 15px;
      }
    }
  }
  &Icon {
    padding-right: 30px;
    &Right {
      padding-right: 50px;
    }
    &Left {
      padding-left: 43px;
    }
  }
  &:focus {
    border: 1px solid #156cbd;
  }
  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #26333d;
  }
  &:disabled {
    opacity: 1;
  }
  &RightIcon {
    position: absolute;
    right: 50px;
    top: 50%;
    cursor: pointer;
  }
}

.error {
  color: #e98686;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding-left: 15px;
}

// @media screen and (max-width: 645px) {
// 	.input {
// 		font-size: 13px;
// 	}
// }

.disabledDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 10px;
  &:focus {
    border: 1px solid #156cbd;
  }
}

.inputRightIcon {
  right: 50px;
  top: 50%;
  transform: translate(-50%) !important;
}

.borderFilterRoomTop {
  border-radius: 10px 0 0 10px;
  @media (max-width: 1200px) {
    border-radius: 10px 10px 0 0;
  }
}
